/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	line-height: 2;
	margin: 0;
}

.container {
	width: 100%;
	height: 100%;
}

header {
  background-color: aqua;
  height:80px;
	width:100%;
  margin-top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
	text-decoration: none;
	display: block;
}

a:hover {
	opacity: 0.6;
}

td {
	text-align: center;
	border-bottom: solid 1px ;
}

h1 {
	margin-left:20px;
	text-align: center;
}

h2 {
	text-align: center;
}

table {
	border-spacing: 15px;
	align-items: center;
	margin:auto;
}

.form-container {
	text-align: center;
}

.confirm-container {
	text-align: center;
}

footer {
	background-color: aqua;
	height:80px;
	width:100%;
}